* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-color: #1a1a1a;
  }
  
  .carousel {
    filter: drop-shadow(0px 0px 10px #000);
    overflow: hidden;
    width: 1250px;
    height: 570px;
    position: relative;
    border-radius: 10px;
  }
  
  .container {
    display: flex;
    transition: transform 0.7s ease-in-out;
  }
  
  img {
    width: 1250px;
    height: 570px;
    object-fit: cover;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }
  